body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 350px;
  background-color: #93C5FD;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

.map-container {
  flex-grow: 1;
  position: relative;
}